{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  <div class="flex justify-center">
    {% if site_logo %}
      <figure class="my-5 p-3 overflow-hidden border-2 border-solid bg-white rounded-full shadow">
        <img class="h-16 w-16 block md:h-32 md:w-32" src="{{ site_logo }}" alt="{{ site_name }} logo" />
      </figure>
    {% endif %}
    {% if site_name %}
      <div class="sr-only text-2xl">
        <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
      </div>
    {% endif %}
    {% if site_slogan %}
      <div class="site-slogan">{{ site_slogan }}</div>
    {% endif %}
  </div>
{% endblock %}
